@model MiGuachincheWeb.Models.Plato

@{
    ViewData["Title"] = "Delete";
}

<h3 class="fs-bold text-primary text-center">¿Estás seguro de borrar este plato?</h3>
<hr />

<div class="row">
    <div class="col-12 col-md-5 mb-5">
        <!--Aqui va la foto del restaurante-->
        <img class="img-thumbnail" src='~/img/platos/@Html.DisplayFor(model => model.ImagenURL)' title="Imagen del plato" alt="@Html.DisplayFor(model => model.Descripcion)" width="400" height="300" />
    </div>
    <div class="col-12 col-md-7">
        <h4>Plato</h4>  
        <dl class="row">
            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-4">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-4 text-capitalize">
                @Html.DisplayNameFor(model => model.tipo)
            </dt>
            <dd class="col-8">
                @Html.DisplayFor(model => model.tipo.nombre)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="PlatoId" />
            <input type="submit" value="Borrar" class="btn btn-danger me-5" />
            <a class="btn btn-info" asp-action="Index">Volver</a>
        </form>
    </div>
</div>
