@model IEnumerable<MiGuachincheWeb.Models.plato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "platos", FormMethod.Get))
{
    <fieldset>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Buscar plato: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    @Html.DropDownList("plateType")
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-action="Index">Reiniciar Búsqueda</a>
                </p>
            </div>
        </form>
    </fieldset>
}


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Nombre)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">@Html.DisplayNameFor(model => model.tipo)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlatoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlatoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlatoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
