@model MiGuachincheWeb.Models.Restaurante

@{
    ViewData["Title"] = "Delete";
}

<h1 class="fs-bold text-primary text-center mb-5">Borrar Restaurantes</h1>

<h3>¿Estás seguro de borrar este restaurante?</h3>

<h4>Restaurante</h4>
<hr />
<div>
    <div class="row">
        <div class="col-12 col-md-7 mb-5">
            <!--Aqui va la foto del restaurante-->
            <img src='~/img/restaurantes/@Html.DisplayFor(model => model.Rest_Url)' title="Imagen del restaurante" alt="@Html.DisplayFor(model => model.Descripcion)" width="400" height="300" />
        </div>
        <div class="col-12 col-md-5">
            <dl class="row">
                <dt class = "col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3 text-capitalize">
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.telefono)
                </dd>
                <dt class="col-sm-3 text-capitalize">
                    @Html.DisplayNameFor(model => model.valoracion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.valoracion)
                </dd>
                <dt class = "col-sm-3">
                    Especialidad
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.Id_tipoNavigation.nombre)
                </dd>
                <dt class="col-sm-3 text-capitalize">
                    @Html.DisplayNameFor(model => model.zona)
                </dt>
                <dd class = "col-sm-9">
                    @Html.DisplayFor(model => model.zona.nombre)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="RestauranteId" />
                <input type="submit" value="Borrar" class="btn btn-danger me-3" /> 
                <a class="btn btn-primary" asp-action="Index">Volver</a>
            </form>
        </div>
    </div>
</div>
