@model MiGuachincheWeb.Models.Restaurante

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>restaurante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rest_Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rest_Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valoracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valoracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_tipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_tipoNavigation.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zona.nombre)
        </dd>
        <div class="col-6">
            <a  class="btn btn-primary" asp-controller="user" asp-action="AddRestaurante" asp-route-id="@Model?.RestauranteId">Añadir a favoritos</a>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RestauranteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
