@model MiGuachincheWeb.Models.Restaurante

@{
    ViewData["Title"] = "Details";
}

<h3>Detalles del restaurante</h3>
<hr />
<div>
    <div class="row">
        <div class="col-sm-10">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.telefono)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.valoracion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.valoracion)
                </dd>
                <dt class="col-sm-2">
                    Especialidad
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id_tipoNavigation.nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.zona)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.zona.nombre)
                </dd>
            </dl>
        </div>

        <div class="col-sm-2 my-3">
            <a class="btn btn-success" asp-controller="user" asp-action="MakeReservation" asp-route-id="@Model?.RestauranteId">Reservar</a>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary my-3">Volver</a>
</div>
