@model IEnumerable<MiGuachincheWeb.Models.Restaurante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<fieldset>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Buscar restaurante: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                @Html.DropDownList("restZone")
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Reiniciar Búsqueda</a>
            </p>
        </div>
    </form>
</fieldset>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Nombre)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rest_Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ValSortParm"]">@Html.DisplayNameFor(model => model.valoracion)</a>
            </th>
            <th>Especialidad</th>
            <th>
                @Html.DisplayNameFor(model => model.zona)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rest_Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valoracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_tipoNavigation.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zona.nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RestauranteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestauranteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestauranteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
