@model MiGuachincheWeb.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numeroComensales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numeroComensales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.restaurante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.restaurante.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
