@model MiGuachincheWeb.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.numeroComensales)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.numeroComensales)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.CustomUser)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.CustomUser.Id)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.restaurante)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.restaurante.Descripcion)
        </dd>
        <dt class="col-12 col-md-5 mx-auto">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class="col-12 col-md-5 mx-auto">
            @Html.DisplayFor(model => model.estado.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary me-5" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-info" asp-action="Index">Volver</a>
</div>
