@using Microsoft.AspNetCore.Identity

@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager
@model MiGuachincheWeb.Models.CustomUser

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>Detalles del Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Apelllidos)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Apelllidos)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        @if (User.IsInRole("Default"))
        {
            <dt class="col-sm-3">Restaurantes Favoritos</dt>
            <dd class="col-sm-9">
                <a class="nav-link btn btn-secondary text-white d-inline p-2" asp-controller="user" asp-action="RestList" asp-route-id="@Model.Id">Ir a la lista</a>
            </dd>
            <dt class="col-sm-3 mt-2">Platos Favoritos</dt>
            <dd class="col-sm-9 mt-2">
                <a class="nav-link btn btn-secondary text-white d-inline p-2" asp-controller="user" asp-action="PlatoList" asp-route-id="@Model.Id">Ir a la lista</a>
            </dd>
        } 
    </dl>
</div>
<div>
    <a class="btn btn-warning me-5" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> 
    <a class="btn btn-info"  asp-controller="Home" asp-action="Index">Volver</a>
</div>

 

