@model IEnumerable<MiGuachincheWeb.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center fw-bold mb-5">Mis reservas</h2>
<hr />
<article class="row">
    <div class="col-10 mx-auto">
        <h4>Reservas pendientes</h4>
        <table class="table table-hover table-striped table-info mt-3">
            <thead>
                <tr>
                    <th>Fecha de reserva</th>
                    <th>Comensales</th>
                    <th class="text-capitalize">Restaurante</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.estado.Name.Equals("Pendiente"))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaReserva)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numeroComensales)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.restaurante.Nombre)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-10 mx-auto">
        <hr />
        <h4>Reservas activas</h4>
        <table class="table table-hover table-striped table-secondary mt-3">
            <thead>
                <tr>
                    <th>Fecha de reserva</th>
                    <th>Comensales</th>
                    <th class="text-capitalize">Restaurante</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.estado.Name.Equals("Activa"))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaReserva)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numeroComensales)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.restaurante.Nombre)
                            </td>
                            <td class="d-flex flex-column flex-md-row gap-3 justify-content-center">
                                <a class="btn btn-warning" asp-controller="Reservas" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info" title="Editar reserva">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                    </svg>
                                </a>
                                <a class="btn btn-danger" asp-controller="User" asp-action="Cancel" asp-route-id="@item.Id" class="btn btn-outline-info" title="Cancelar reserva">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="my-3">
        <button id="ManagerButton" class="btn btn-primary" title="Lista de reservas finalizadas">Reservas finalizadas</button>
    </div>

    <div id="historial" class=" my-2 oculto col-10 mx-auto">
        <h4>Reservas finalizadas</h4>
        <table class="table table-hover table-striped table-dark mt-3">
            <thead>
                <tr>
                    <th>Fecha de la reserva</th>
                    <th>Comensales</th>
                    <th class="text-capitalize">Restaurante</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.estado.Name.Equals("Finalizada"))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaReserva)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numeroComensales)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.restaurante.Nombre)
                            </td>
                            <td class="d-flex flex-column flex-md-row gap-3 justify-content-center">
                                <a class="btn btn-info" asp-controller="Reservas" asp-action="MakeReservation" asp-route-id="@item.Id" class="btn btn-outline-info" title="Hacer reserva">
                                    Valorar restaurante
                                </a>
                                <a class="btn btn-info" asp-controller="Reservas" asp-action="MakeReservation" asp-route-id="@item.Id" class="btn btn-outline-info" title="Hacer reserva">
                                    Valorar menú
                                </a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</article>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_HistoryButtonPartial");
    }
}


